{% extends '_base.html' %}

{% block title %}ホテル - DjangoCongress JP 2020{% endblock %}

{% block og_url %}https://djangocongress.jp/hotel.html{% endblock %}
{% block og_description %}DjangoCongress JP 2020会場周辺のホテル情報{% endblock %}

{% block contents %}

  {% import 'components/_section.html' as section %}

  <div class="wrapper">

    <div class="main">
      {% call section.section('section-dark section-jumbo', 'hotel-jumbo', 'ホテル情報', 'HOTEL') %}
        <p class="text-center">
          DjangoCongress JP 2020会場の最寄り駅（長野駅）近くのホテルを紹介します<br/>
          Hotels near Nagano Station where is the closest station of the DjangoCongress JP 2020 venue
        </p>
      {% endcall %}

      {# ホテルのセクションを表示するマクロ hotel_section の定義 #}
      {% macro hotel_section(class, id, name, name_en, image_1, image_2, image_3, address, phone, url) %}
        {% call section.section(class, id, name, name_en) %}
          <div class="row">
            <div class="col-md-4 ml-auto mr-auto text-center">
              <figure class="image">
                <img class="img-responsive" src="{{ image_1 }}" />
              </figure>
            </div>
            <div class="col-md-4 ml-auto mr-auto text-center">
              <figure class="image">
                <img class="img-responsive" src="{{ image_2 }}" />
              </figure>
            </div>
            <div class="col-md-4 ml-auto mr-auto text-center">
              <figure class="image">
                <img class="img-responsive" src="{{ image_3 }}" />
              </figure>
            </div>
          </div>
          <p class="help text-center">画像引用元 {{ url }}</p>
          <div>
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>住所 / ADRESS</th>
                        <td>{{ address }}</td>
                      </tr>
                      <tr>
                        <th>電話番号 / TEL</th>
                        <td>{{ phone }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <p class="text-center">
              <a href="{{ url }}"
                 target="_blank"
                 class="btn btn-danger btn-round my-2">詳しく / Detail</a>
            </p>
          </div>
        {% endcall %}
      {% endmacro %}

      {{ hotel_section(
      'section-hotel',
      'hotel-metro',
      'ホテルメトロポリタン長野',
      'Hotel Metropolitan Nagano',
      'static/img/hotel/metro_bed.jpg',
      'static/img/hotel/metro_out.jpg',
      'static/img/hotel/metro_loby.jpg',
      '長野市南長野南石堂町1346 / Nagano Minaminagano MinamiIshido-cho 1346',
      '026-291-7000',
      'https://nagano.metropolitan.jp/') }}

      {{ hotel_section(
      'section-hotel section-lightgray',
      'hotel-dormyinn',
      'ドーミーイン長野',
      'Dormy INN Nagano',
      'static/img/hotel/dormy_bed.jpg',
      'static/img/hotel/dormy_out.jpg',
      'static/img/hotel/dormy_spa.jpg',
      '長野市南長野北石堂町1373-1 / Nagano Minaminagano KitaIshido-cho',
      '026-291-5489',
      'https://www.hotespa.net/hotels/nagano/') }}

      {{ hotel_section(
      'section-hotel',
      'hotel-daiichi',
      '長野第一ホテル',
      'Nagano Daiichi Hotel',
      'static/img/hotel/daiichi_bed.jpg',
      'static/img/hotel/daiichi_loby.jpg',
      'static/img/hotel/daiichi_spa.jpg',
      '長野市南千歳１丁目16-2 / Nagano Minamichitose 1Chome-16-2',
      '026-228-1211',
      'https://www.nagano-daiichi.jp/') }}

      {{ hotel_section(
      'section-hotel section-lightgray',
      'hotel-toyoko',
      '東横INN長野駅善光寺口',
      'Toyoko Inn Nagano Zenkoji-guchi',
      'static/img/hotel/toyoko_bed.jpg',
      'static/img/hotel/toyoko_out.jpg',
      'static/img/hotel/toyoko_out2.jpg',
      '長野市大字南長野南石堂町1315-8 / Nagano Minaminagano MinamiIshido-cho 1315-8',
      '026-228-1045',
      'https://www.toyoko-inn.com/search/detail/00212/') }}

    </div>
  </div>
{% endblock %}
