{% extends '_base.html' %}

{% block title %}DjangoCongress JP 2025{% endblock %}

{% block og_url %}https://djangocongress.jp/{% endblock %}
{% block og_description %}DjangoCongress JP は日本で開催されるDjango Webフレームワークのカンファレンスです. DjangoCongress JP is a conference for the Django Web framework in Japan. {% endblock %}

{% block contents %}

{% import 'components/_section.html' as section %}
{% import 'components/_talk.html' as talk %}

<div class="wrapper">

  {% include 'index/_jumbo.html' %}

  <div class="main">

    {% include 'index/_about.html' %}
    {% include 'index/_subtitle.html' %}
    {% include 'index/_confday.html' %}
    {% include 'index/_program.html' %}
    {% include 'index/_liveviewing.html' %}
    {% include 'index/_staff.html' %}
    {% include 'index/_twitter.html' %}
    {% include 'index/_contact.html' %}

  </div>
</div>
{% endblock %}
